
header{
    width: 100%;
}
.topnav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(9, 99, 117);
    overflow: hidden;
}
.topnav a{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.topnav a:hover{
    background-color: rgb(62, 144, 231);
    color: rgb(17, 17, 16);
}
img{
    width: 100%;
    margin: auto;
}
body{
    margin: 0px;
    background-color: rgb(166, 232, 252);
}
.body_para{
    margin: 0px 10px;
}
h1{
    text-align: center;
}